@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap');
@import "./css/typography.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-size: 10px;
	--primary: #6C62FE;
	--text-color: #606060;
	--light-text-color: #C3C3C3;
}

* {
	font-family: 'Outfit';
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.container {
	padding: 0% 100px;
}